function SquareGame.new 0
push constant 5
call Memory.alloc 1
pop pointer 0
push constant 0
push constant 0
push constant 30
call Square.new 3
pop this 3
push constant 0
pop this 4
push pointer 0
return
function SquareGame.dispose 1
push argument 0
pop pointer 0
push this 3
call Square.dispose 1
pop temp 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function SquareGame.moveSquare 1
push argument 0
pop pointer 0
push this 4
push constant 1
eq
not
if-goto L1if6
push this 3
call Square.moveUp 1
pop temp 0
goto L2if6
label L1if6
label L2if6
push this 4
push constant 2
eq
not
if-goto L1if7
push this 3
call Square.moveDown 1
pop temp 0
goto L2if7
label L1if7
label L2if7
push this 4
push constant 3
eq
not
if-goto L1if8
push this 3
call Square.moveLeft 1
pop temp 0
goto L2if8
label L1if8
label L2if8
push this 4
push constant 4
eq
not
if-goto L1if9
push this 3
call Square.moveRight 1
pop temp 0
goto L2if9
label L1if9
label L2if9
push constant 5
call Sys.wait 1
pop temp 0
push constant 0
return
function SquareGame.run 3
push argument 0
pop pointer 0
push constant 0
pop local 1
label L1while0
push local 1
not
not
if-goto L2while0
label L1while1
push local 0
push constant 0
eq
not
if-goto L2while1
call Keyboard.keyPressed 0
pop local 0
call moveSquare 0
pop temp 0
goto L1while1
label L2while1
push local 0
push constant 81
eq
not
if-goto L1if10
push constant 1
neg
pop local 1
goto L2if10
label L1if10
label L2if10
push local 0
push constant 90
eq
not
if-goto L1if11
push this 3
call Square.decSize 1
pop temp 0
goto L2if11
label L1if11
label L2if11
push local 0
push constant 88
eq
not
if-goto L1if12
push this 3
call Square.incSize 1
pop temp 0
goto L2if12
label L1if12
label L2if12
push local 0
push constant 131
eq
not
if-goto L1if13
push constant 1
pop this 4
goto L2if13
label L1if13
label L2if13
push local 0
push constant 133
eq
not
if-goto L1if14
push constant 2
pop this 4
goto L2if14
label L1if14
label L2if14
push local 0
push constant 130
eq
not
if-goto L1if15
push constant 3
pop this 4
goto L2if15
label L1if15
label L2if15
push local 0
push constant 132
eq
not
if-goto L1if16
push constant 4
pop this 4
goto L2if16
label L1if16
label L2if16
label L1while2
push local 0
push constant 0
eq
not
not
if-goto L2while2
call Keyboard.keyPressed 0
pop local 0
call moveSquare 0
pop temp 0
goto L1while2
label L2while2
goto L1while0
label L2while0
push constant 0
return
